#!/usr/bin/env bash

export SINGULARITY_DISABLE_CACHE=true
singularity run --nv --bind /scratch/o/Onurcan.Bektas/:/scratch/o/Onurcan.Bektas/ docker://nvcr.io/nvidia/nvhpc:21.3-devel-cuda11.2-ubuntu20.04

singularity exec --nv --bind /scratch/o/Onurcan.Bektas/:/scratch/o/Onurcan.Bektas/  container/profiling.sif bash

# the one that works!
singularity exec --nv --bind /scratch/o/Onurcan.Bektas/:/scratch/o/Onurcan.Bektas/  docker://nvcr.io/nvidia/nvhpc:24.7-devel-cuda12.5-ubuntu24.04 bash
mkdir -p /scratch-local/Onurcan.Bektas/tmp/
export CUDA_PATH=/opt/nvidia/hpc_sdk/Linux_x86_64/2024/cuda/

cargo bench --bench identity --features big,cuda -- --save-baseline cuda

cargo bench --bench identity --features big,cuda --no-run -- --save-baseline cuda 
ncu -o myreport /scratch/o/Onurcan.Bektas/burn/target/release/deps/identity-803d5161adf41376

cargo bench --features big,cuda
cargo build --release --features big,cuda

flamegraph -- ../../target/release/imbls_gpu
